.contact-content {
    margin-top: 20px;
    .contact {
        .card-contact {
            background-color: rgb(216, 216, 216);

            .title {
                font-size: 22px;
                font-weight: bold;
                color: #303030;
                margin-bottom: 15px;
            }

            

            input {
                margin-bottom: 10px;
                background-color: transparent;
                border: 1px solid black;
                
            }
            textarea {
                background-color: transparent;
                border : 1px solid black;
                
            }
        }
    }
}