.portfolio-content {
    .portfolio {
        .card {
            padding: 15px;
            background-color: rgb(27, 27, 25);
            border-radius: 8px;
            margin-bottom: 10px;

            img {
                border-radius: 8px;
            }

            .web-title {
                color: whitesmoke;
                margin-top: 5px;
                font-weight: bold;
                font-size: 16px;
            }

            .desc-web {
                color: rgb(195, 195, 195);
                font-size: 14px;
                margin-top: 8px;
            }
        }
    }
}